body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  text-align: center;

}

h2 {
  margin: 10px 0px 16px 0px;
}

h4 {
  margin: 10px 0px 16px 0px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between; /*separate logo and the navigation */
  align-items: center; /* vertical spacing */
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1; /* keep the header on top of the rest of the content */
  width: 100%;
  position: fixed; /* fixed at top of page */
}

.logo {
  padding-left: 10px;
  height: 50px;
  width: auto;
}

.nav span {
  padding: 20px 10px 20px 10px;
}

a {
  color: seashell;
  text-decoration: underline;;
}

.flex-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* horizontal spacing as direction is column */

}

.mission {
  display: flex;
  background: url('../../images/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  padding-top: 70px;
  margin-bottom: 70px;
}

.mission .text {
  background: black;
  width: 1200px;

}

.teas {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tea span {
  font-weight: bold;
}

.tea-image {
  height: 200px;
  width: 300px;
  background-size: cover;
  margin-top: 16px;
  margin-bottom: 10px;
}

.tea-image.berry-blitz {
  background: url('../../images/img-berryblitz.jpg');
  background-size: cover;
}

.tea-image.spiced-rum {
  background: url('../../images/img-spiced-rum.jpg');
  background-size: cover;
}

.tea-image.donut {
  background: url('../../images/img-donut.jpg');
  background-size: cover;
}

.tea-image.myrtle-ave {
  background: url('../../images/img-myrtle-ave.jpg');
  background-size: cover;
}

.tea-image.bedford-bizarre {
  background: url('../../images/img-bedford-bizarre.jpg');
  background-size: cover;
}

.locations {
  background: url('../../images/img-locations-background.jpg');
  height: 500px;
  width: 1200px;
  padding-top: 50px;
  margin-top: 60px;

}

.location-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 26px;
}

.location {
  height: 300px;
  width: 300px;
  background-color: black;
  flex-direction: column;
}

.location span {
  font-weight: bold;

}

.footer.contact {
  text-align: center;
  height: 200px;
}

.footer {
  text-align: left;
  margin-left: 20px;
}
